**About the dataset:**

US Stocks Fundamentals (XBRL)

출처 : kaggle(https://www.kaggle.com/usfundamentals/us-stocks-fundamentals)

Kaggle에서는 다음과 같은 데이터를 제공한다.
* companies.csv
* indicators_by_company.csv

``` 12,173개 기업
8,529 고유 지표
7년간의 데이터(2010~2016)
```

손익 계산서, 대차 대조표 및 현금 흐름과 같은 미국 주식의 기본 데이터가 들어 있습니다.

측정방법 : XBRL(확장가능한 사업 보고 언어)
- *자유롭게 이용가능하고 사업 정보를 교환하는 국제 표준이다. 사업 보고에서 흔하게 필요로 하는 의미론적의 의미의 표현을 가능하게 한다.*

In [3]:
import pandas as pd
com_data = pd.read_csv("./companies.csv")
ind_data = pd.read_csv("./indicators_by_company.csv")

In [4]:
com_data.head()

   company_id               name_latest names_previous
0     1000045    Nicholas Financial Inc            NaN
1     1000180              Sandisk Corp            NaN
2     1000209  Medallion Financial Corp            NaN
3     1000228          Henry Schein Inc            NaN
4     1000229     Core Laboratories N V            NaN

In [8]:
com_data.shape

(12173, 3)

- companies.csv
 1. company_id : 회사 id
 2. name_latest : 최근 회사명
 3. names_previous : 이전 회사명

In [5]:
ind_data.head()

,company_id,indicator_id,2010,2011,2012,2013,2014,2015,2016
0,1000045,AccountsPayableAndAccruedLiabilitiesCurrentAnd...,NaN,6612429.0,7405579.0,8924919.0,7841070.0,5839000.0,NaN
1,1000045,AccumulatedDepreciationDepletionAndAmortizatio...,NaN,NaN,2111343.0,2242703.0,2236449.0,2462000.0,NaN
2,1000045,AdjustmentForAmortization,NaN,NaN,-11482251.0,-13490892.0,-13852305.0,-13811000.0,NaN
3,1000045,Assets,NaN,257236034.0,263835468.0,283429579.0,302528591.0,325309000.0,NaN
4,1000045,AssetsHeldForSaleAtCarryingValue,NaN,1373001.0,1203664.0,1696330.0,NaN,NaN,NaN

In [18]:
ind_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1907883 entries, 0 to 1907882
Data columns (total 9 columns):
company_id      int64
indicator_id    object
2010            float64
2011            float64
2012            float64
2013            float64
2014            float64
2015            float64
2016            float64
dtypes: float64(7), int64(1), object(1)
memory usage: 131.0+ MB

In [7]:
ind_data.shape

(1907883, 9)

In [10]:
len(ind_data['indicator_id'].unique())

8529

In [17]:
ind_data['indicator_id'].unique()[:5]

array(['AccountsPayableAndAccruedLiabilitiesCurrentAndNoncurrent',
       'AccumulatedDepreciationDepletionAndAmortizationPropertyPlantAndEquipment',
       'AdjustmentForAmortization', 'Assets',
       'AssetsHeldForSaleAtCarryingValue'], dtype=object)

- indicators_by_company.csv
    1. company_id : 회사 id
    2. indicator_id : 지표명
    3. 2010~2016년까지의 지표들의 값

각 지표들에 대한 정보는 [여기](https://www.calcbench.com/element/CommonStockSharesIssued)에 검색하여 알아볼수 있다.

**Target Variable Exploration:**

변수들을 살펴본 결과 각 변수들은 경제지표로서 다른 변수들에 영향을 많이 받고(한 변수가 다른변수를 파생시킨다.) 따라서 타겟을 지정하기 보다는 기업에 대한 가치평가 방법으로 타겟 변수를 생성하려고 시도 하였습니다. 

* 기업가치평가는 [다음](https://namu.wiki/w/%EA%B8%B0%EC%97%85%EA%B0%80%EC%B9%98%ED%8F%89%EA%B0%80)에서 볼 수 있습니다.

**result from the seminar:**

Regression에 대한 데이터로서 살펴보았지만 변수의 개수가 너무 방대하고(8529개) 경제지표에 대한 도메인지식이 없어 
다양한 Regression 모델들을 수행하고자하는 목적에는 부합하지 않다고 생각되어 이 데이터에 대한 분석은 진행하지 않기로 하였습니다.